.hero-lead {
    max-width: 100%;
    margin-left: auto;
    display: block;
    width: 100%;
    margin-right: auto;
    font-size: 1.35rem;
	text-align: center;
}

div.hero-lead img {
    max-width: 100%;
    margin-left: auto;
    display: block;
    margin-right: auto;
    font-size: 1.35rem;
	text-align: center;
}

video:focus {
    outline: none;
}

video {
    width: 80%;
    height: auto;
    max-height: 400px;
}
   
